/*
  MAIN RULES FOR CSS STYLESHEET
*/
.container {
  width: 1170px;
  margin: auto;
}

body {
  background-color: rgb(0, 18, 30);
}
/************************************/



/*
 ADMIN PANEL
*/
.heading {
  text-align: center;
  margin: 150px 0 50px;
  font-size: 30px;
  color: rgb(8, 35, 54);
}

.span1 {
  font-size: 32px;
  font-weight: bold;
  color: rgb(64, 155, 212);
}

.span1 span {
  color: white;
}

.span2 {
  font-size: 35px;
  color: rgba(64, 155, 212, 0.5);
  letter-spacing: 7px;
  margin-left: 7px;
  text-transform: uppercase;
}

hr {
  width: 300px;
  border: 2px solid;
  border-radius: 5px;
  color: rgb(8, 35, 54);
}
/************************************/



/*
  USERNAME INPUT
*/
.user {
  width: 300px;
  display: table;
  padding: 15px 20px;
  margin: auto;
  font-size: 18px;
  letter-spacing: 1px;
  border: 0 none;
  border-left: 2px solid rgb(0, 18, 30);
  border-right: 2px solid rgb(0, 18, 30);
  background-color: rgb(8, 35, 54);
  color: rgb(113, 127, 136);
}
/************************************/



/*
  PASSWORD INPUT
*/
.pass {
  width: 300px;
  display: table;
  padding: 15px 20px;
  margin: 20px auto;
  font-size: 18px;
  letter-spacing: 1px;
  border: 0 none;
  border-left: 2px solid rgb(0, 18, 30);
  border-right: 2px solid rgb(0, 18, 30);
  background-color: rgb(8, 35, 54);
  color: rgb(113, 127, 136);
}
/************************************/



/*
  USERNAME & PASSWORD INPUTS :hover
*/
.user:hover, .pass:hover {
  border-left: 2px solid rgb(64, 155, 212);
  border-right: 2px solid rgb(64, 155, 212);
  color: rgb(64, 155, 212);
}
/************************************/



/*
  USERNAME & PASSWORD INPUTS :focus
*/
.user:focus, .pass:focus {
  border-left: 5px solid rgb(64, 155, 212);
  border-right: 5px solid rgb(64, 155, 212);
  color: rgb(64, 155, 212);
  background-color: rgb(0, 18, 30);
  width: 350px;
  border-radius: 5px;
  transition: .6s;
}
/************************************/



/*
  USERNAME & PASSWORD INPUTS
  :not(focus)
*/
.user:not(focus), .pass:not(focus) {
  transition: .6s;
}
/************************************/



.submit {
  display: table;
  margin: 40px auto;
  padding: 10px 0 10px 0;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(8, 35, 54);
  color: rgb(113, 127, 136);
  border: 5px none rgb(0, 18, 30);
}

.submit:hover {
  border-left: 5px solid rgb(64, 155, 212);
  border-right: 5px solid rgb(64, 155, 212);
  border-radius: 5px;
  width: 90px;
  cursor: pointer;
  color: rgb(64, 155, 212);
  background-color: rgb(0, 18, 30);
  transition: .2s;
}

.submit:not(hover) {
  color: rgb(113, 127, 136);
  border: 5px none rgb(0, 18, 30);
  transition: .6s;
}




