{% load static %}
{% include "navigator/dashboard_nav.html" %}

    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-xl-6 mb-xl-0 mb-4">
              <div class="card bg-transparent shadow-xl">
                <div class="overflow-hidden position-relative border-radius-xl" style="background-image: url('{% static 'navigator/assets/img/curved-images/curved14.jpg' %}');">
                  <span class="mask bg-gradient-dark"></span>
                  <div class="card-body position-relative z-index-1 p-3">
                    <i class="fas fa-wifi text-white p-2"></i>
                    <h5 class="text-white mt-4 mb-5 pb-2">1101&nbsp;&nbsp;&nbsp;2002&nbsp;&nbsp;&nbsp;3103&nbsp;&nbsp;&nbsp;1998</h5>
                    <div class="d-flex">
                      <div class="d-flex">
                        <div class="me-4">
                          <p class="text-white text-sm opacity-8 mb-0">Card Holder</p>
                          <h6 class="text-white mb-0">GINO T S</h6>
                        </div>
                        <div>
                          <p class="text-white text-sm opacity-8 mb-0">Expires</p>
                          <h6 class="text-white mb-0">Never</h6>
                        </div>
                      </div>
                      <div class="ms-auto w-20 d-flex align-items-end justify-content-end">
                        <img class="w-60 mt-2" src="{% static 'navigator/assets/img/logos/mastercard.png' %}" alt="logo">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="row">
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header mx-4 p-3 text-center">
                      <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                        <i class="fas fa-landmark opacity-10"></i>
                      </div>
                    </div>
                    <div class="card-body pt-0 p-3 text-center">
                      <h6 class="text-center mb-0">Total Order</h6>
                      <span class="text-xs">Completed</span>
                      <hr class="horizontal dark my-3">
                      <h5 class="mb-0">{{completed_order_count}}</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mt-md-0 mt-4">
                  <div class="card">
                    <div class="card-header mx-4 p-3 text-center">
                      <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                        <i class="fab fa-paypal opacity-10"></i>
                      </div>
                    </div>
                    <div class="card-body pt-0 p-3 text-center">
                      <h6 class="text-center mb-0">Sales</h6>
                      <span class="text-xs">Completed</span>
                      <hr class="horizontal dark my-3">
                      <h5 class="mb-0">{{completed_sales}}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 mb-lg-0 mb-4">
              <div class="card mt-4">
                <div class="card-header pb-0 p-3">
                  <div class="row">
                    <div class="col-6 d-flex align-items-center">
                      <h6 class="mb-0">Sales Report</h6>
                    </div>
                    <div class="col-6 text-end">
                      <a class="btn bg-gradient-dark mb-0" href="{% url 'view_all_orders' %}"><i class="fas fa-plus"></i>&nbsp;&nbsp;View Report</a>
                    </div>
                  </div>
                </div>
                <div class="card-body p-3">
                  <div class="row">
                    <div class="col-md-6 mb-md-0 mb-4">
                      <div class="card card-body border card-plain border-radius-lg d-flex align-items-center flex-row">
                        <img class="w-10 me-3 mb-0" src="{% static 'navigator/assets/img/logos/mastercard.png' %}" alt="logo">
                        <h6 class="mb-0">****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;2002</h6>
                        <i class="fas fa-money-check ms-auto text-dark cursor-pointer" data-bs-toggle="tooltip" data-bs-placement="top" title="View Report"></i>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card card-body border card-plain border-radius-lg d-flex align-items-center flex-row">
                        <img class="w-10 me-3 mb-0" src="{% static 'navigator/assets/img/logos/visa.png' %}" alt="logo">
                        <h6 class="mb-0">****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;1998</h6>
                        <i class="fas fa-money-check ms-auto text-dark cursor-pointer" data-bs-toggle="tooltip" data-bs-placement="top" title="View Report"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--        <div class="col-lg-4">-->
<!--          <div class="card h-100">-->
<!--            <div class="card-header pb-0 p-3">-->
<!--              <div class="row">-->
<!--                <div class="col-6 d-flex align-items-center">-->
<!--                  <h6 class="mb-0">Invoices</h6>-->
<!--                </div>-->
<!--                <div class="col-6 text-end">-->
<!--                  <button class="btn btn-outline-primary btn-sm mb-0">View All</button>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="card-body p-3 pb-0">-->
<!--              <ul class="list-group">-->
<!--                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">-->
<!--                  <div class="d-flex flex-column">-->
<!--                    <h6 class="mb-1 text-dark font-weight-bold text-sm">March, 01, 2020</h6>-->
<!--                    <span class="text-xs">#MS-415646</span>-->
<!--                  </div>-->
<!--                  <div class="d-flex align-items-center text-sm">-->
<!--                    $180-->
<!--                    <button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i class="fas fa-file-pdf text-lg me-1"></i> PDF</button>-->
<!--                  </div>-->
<!--                </li>-->
<!--                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">-->
<!--                  <div class="d-flex flex-column">-->
<!--                    <h6 class="text-dark mb-1 font-weight-bold text-sm">February, 10, 2021</h6>-->
<!--                    <span class="text-xs">#RV-126749</span>-->
<!--                  </div>-->
<!--                  <div class="d-flex align-items-center text-sm">-->
<!--                    $250-->
<!--                    <button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i class="fas fa-file-pdf text-lg me-1"></i> PDF</button>-->
<!--                  </div>-->
<!--                </li>-->
<!--                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">-->
<!--                  <div class="d-flex flex-column">-->
<!--                    <h6 class="text-dark mb-1 font-weight-bold text-sm">April, 05, 2020</h6>-->
<!--                    <span class="text-xs">#FB-212562</span>-->
<!--                  </div>-->
<!--                  <div class="d-flex align-items-center text-sm">-->
<!--                    $560-->
<!--                    <button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i class="fas fa-file-pdf text-lg me-1"></i> PDF</button>-->
<!--                  </div>-->
<!--                </li>-->
<!--                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">-->
<!--                  <div class="d-flex flex-column">-->
<!--                    <h6 class="text-dark mb-1 font-weight-bold text-sm">June, 25, 2019</h6>-->
<!--                    <span class="text-xs">#QW-103578</span>-->
<!--                  </div>-->
<!--                  <div class="d-flex align-items-center text-sm">-->
<!--                    $120-->
<!--                    <button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i class="fas fa-file-pdf text-lg me-1"></i> PDF</button>-->
<!--                  </div>-->
<!--                </li>-->
<!--                <li class="list-group-item border-0 d-flex justify-content-between ps-0 border-radius-lg">-->
<!--                  <div class="d-flex flex-column">-->
<!--                    <h6 class="text-dark mb-1 font-weight-bold text-sm">March, 01, 2019</h6>-->
<!--                    <span class="text-xs">#AR-803481</span>-->
<!--                  </div>-->
<!--                  <div class="d-flex align-items-center text-sm">-->
<!--                    $300-->
<!--                    <button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i class="fas fa-file-pdf text-lg me-1"></i> PDF</button>-->
<!--                  </div>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
      <div class="row">
        <div class="col-md-7 mt-4">
          <div class="card">
            <div class="card-header pb-0 px-3">
              <div class="row">
                <div class="col-6 d-flex align-items-center">
                  <h6 class="mb-0">Order Information</h6>
                </div>
                <div class="col-6 text-end">
                    {% if show_view_all %}
                  <a href="{% url 'view_all_orders' %}" class="btn btn-outline-primary btn-sm mb-0">View All</a>
                    {% endif %}
                </div>
              </div>
            </div>
              {% for i in tour %}
            <div class="card-body pt-4 p-3">
              <ul class="list-group">
                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                  <div class="d-flex flex-column">
                    <h5 class="mb-3 ">{{ i.package.title }}</h5>
                    <h5 class="mb-3 ">{{ i.package.duration }}</h5>
                    <h1><span class="mb-2 text-sm">Check-in: <span class="text-dark ms-sm-2 font-weight-bold">{{ i.checkin_date }}&nbsp;{{ i.checkin_time }}</span></span></h1>
                    <span class="mb-2 text-xs">Traveller Name: <span class="text-dark font-weight-bold ms-sm-2">{{ i.address.fullname }}</span></span>
                    <span class="mb-2 text-xs">Email Address: <span class="text-dark ms-sm-2 font-weight-bold">{{ i.address.email }}</span></span>
                    <span class="mb-2 text-xs">Phone Number: <span class="text-dark ms-sm-2 font-weight-bold">{{ i.address.phone }}</span></span>
                    <span class="mb-2 text-xs">Head Count: <span class="text-dark ms-sm-2 font-weight-bold">{{ i.headcount }}</span>&nbsp;
                    <span class="mb-2 text-xs">Price: <span class="text-dark ms-sm-2 font-weight-bold">{{ i.price }}</span></span></span>
                    <span class="mb-2 text-xs">Purchase Date: <span class="text-dark ms-sm-2 font-weight-bold">{{ i.invoice_date }}</span></span>
                    <span class="mb-2 text-xs">Address: <span class="text-dark ms-sm-2 font-weight-bold">{{ i.address.address }},{{ i.address.city }},{{ i.address.district }},{{ i.address.state }},{{ i.address.postcode }}</span></span>
                    <span class="mb-2 text-xs">Room Type: <span class="text-dark ms-sm-2 font-weight-bold">{{ i.room_type }}</span></span>
                    <span class="mb-2 text-xs">Energetic at: <span class="text-dark ms-sm-2 font-weight-bold">{{ i.energy_level }}</span></span>
                    <span class="mb-2 text-xs">Vibe: <span class="text-dark ms-sm-2 font-weight-bold">{{ i.vibe }}</span></span>
                    <span class="mb-2 text-xs">Note: <span class="text-dark ms-sm-2 font-weight-bold">{{ i.notes }}</span></span>
                    <span class="mb-2 text-xs">Order ID: <span class="text-dark ms-sm-2 font-weight-bold">{{ i.order_id }}</span></span>
                    <span class="mb-2 text-xs">Payment ID: <span class="text-dark ms-sm-2 font-weight-bold">{{ i.payment_id }}</span></span>
                    <span class="mb-2 text-xs">Order Status: <span class="text-dark ms-sm-2 font-weight-bold">{{ i.order_status }}</span>
                    <span>
                        <a href="#"
                           class="mb-0 text-xs font-semibold leading-tight"
                           data-bs-toggle="modal"
                           data-bs-target="#statusModal{{i.id}}">
                           <u>change</u>
                        </a>
                    </span></span>
                    <span class="mb-2 text-xs">Payment Method: <span class="text-dark ms-sm-2 font-weight-bold">{{ i.payment_method }}</span></span>
                    <span class="text-xs">Payment Status: <span class="text-dark ms-sm-2 font-weight-bold">{{ i.payment_status }}</span></span>
                  </div>
                  <div class="ms-auto text-end">
                    <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="{% url 'delete_order' i.id %}"><i class="far fa-trash-alt me-2"></i>Delete</a>
                    <a class="btn btn-link text-dark px-3 mb-0" href="{% url 'invoice' i.id %}"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Invoice</a>
                  </div>
                </li>

              </ul>
            </div>

              <div class="modal fade" id="statusModal{{i.id}}" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">

                      <div class="modal-header">
                        <h5 class="modal-title">Change Order Status</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>

                      <div class="modal-body">
                        <form method="post" action="{% url 'change_order_status' i.id %}">
                          {% csrf_token %}
                          <label for="statusSelect">Select new status:</label>
                          <select id="statusSelect" name="order_status" class="form-select">
                            <option value="Booking Confirmed">Booking Confirmed</option>
                            <option value="Documents Issued">Documents Issued</option>
                            <option value="Ongoing Trip">Ongoing Trip</option>
                            <option value="Completed">Completed</option>
                            <option value="Refund Requested">Refund Requested</option>
                            <option value="Refunded">Refunded</option>
                            <option value="Issue Raised">Issue Raised</option>
                            <option value="Resolved">Resolved</option>
                            <option value="Cancelled">Cancelled</option>
                          </select>
                          <button type="submit" class="btn btn-primary mt-3">Save</button>
                        </form>
                      </div>

                    </div>
                  </div>
              </div>
              {% empty %}
                <div class="card-body text-center">
                    <p>No orders found</p>
                </div>
              {% endfor %}
          </div>
        </div>
<!--        <div class="col-md-5 mt-4">-->
<!--          <div class="card h-100 mb-4">-->
<!--            <div class="card-header pb-0 px-3">-->
<!--              <div class="row">-->
<!--                <div class="col-md-6">-->
<!--                  <h6 class="mb-0">Your Transaction's</h6>-->
<!--                </div>-->
<!--                <div class="col-md-6 d-flex justify-content-end align-items-center">-->
<!--                  <i class="far fa-calendar-alt me-2"></i>-->
<!--                  <small>23 - 30 March 2020</small>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="card-body pt-4 p-3">-->
<!--              <h6 class="text-uppercase text-body text-xs font-weight-bolder mb-3">Newest</h6>-->
<!--              <ul class="list-group">-->
<!--                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">-->
<!--                  <div class="d-flex align-items-center">-->
<!--                    <button class="btn btn-icon-only btn-rounded btn-outline-danger mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-down"></i></button>-->
<!--                    <div class="d-flex flex-column">-->
<!--                      <h6 class="mb-1 text-dark text-sm">Netflix</h6>-->
<!--                      <span class="text-xs">27 March 2020, at 12:30 PM</span>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold">-->
<!--                    - $ 2,500-->
<!--                  </div>-->
<!--                </li>-->
<!--                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">-->
<!--                  <div class="d-flex align-items-center">-->
<!--                    <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>-->
<!--                    <div class="d-flex flex-column">-->
<!--                      <h6 class="mb-1 text-dark text-sm">Apple</h6>-->
<!--                      <span class="text-xs">27 March 2020, at 04:30 AM</span>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">-->
<!--                    + $ 2,000-->
<!--                  </div>-->
<!--                </li>-->
<!--              </ul>-->
<!--              <h6 class="text-uppercase text-body text-xs font-weight-bolder my-3">Yesterday</h6>-->
<!--              <ul class="list-group">-->
<!--                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">-->
<!--                  <div class="d-flex align-items-center">-->
<!--                    <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>-->
<!--                    <div class="d-flex flex-column">-->
<!--                      <h6 class="mb-1 text-dark text-sm">Stripe</h6>-->
<!--                      <span class="text-xs">26 March 2020, at 13:45 PM</span>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">-->
<!--                    + $ 750-->
<!--                  </div>-->
<!--                </li>-->
<!--                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">-->
<!--                  <div class="d-flex align-items-center">-->
<!--                    <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>-->
<!--                    <div class="d-flex flex-column">-->
<!--                      <h6 class="mb-1 text-dark text-sm">HubSpot</h6>-->
<!--                      <span class="text-xs">26 March 2020, at 12:30 PM</span>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">-->
<!--                    + $ 1,000-->
<!--                  </div>-->
<!--                </li>-->
<!--                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">-->
<!--                  <div class="d-flex align-items-center">-->
<!--                    <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>-->
<!--                    <div class="d-flex flex-column">-->
<!--                      <h6 class="mb-1 text-dark text-sm">Creative Tim</h6>-->
<!--                      <span class="text-xs">26 March 2020, at 08:30 AM</span>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">-->
<!--                    + $ 2,500-->
<!--                  </div>-->
<!--                </li>-->
<!--                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">-->
<!--                  <div class="d-flex align-items-center">-->
<!--                    <button class="btn btn-icon-only btn-rounded btn-outline-dark mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-exclamation"></i></button>-->
<!--                    <div class="d-flex flex-column">-->
<!--                      <h6 class="mb-1 text-dark text-sm">Webflow</h6>-->
<!--                      <span class="text-xs">26 March 2020, at 05:00 AM</span>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="d-flex align-items-center text-dark text-sm font-weight-bold">-->
<!--                    Pending-->
<!--                  </div>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>


